header {
    width: 100%;
    background-color: #2e2e2e;
    padding-top: 1px;
    padding-bottom: 0px;
    padding-left: 30px;
}

footer {
    width: 100%;
    height: 75px;
    background-color: #2e2e2e;
}

h1 {
    color: White;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
}

h2 {
    color: #2e2e2e;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
}

h3 {
    color: #2e2e2e;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
}

h4 {
    color: orange;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    margin-bottom: -5px;
}

h5 {
    color: #616161;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    margin-top: 10px;
}

div.intro {
    float:left;
    width: 23%;
/*    width: 300px;*/
    padding-left: 25px;
}

.column {
    float: left !important;
    width: 10%;
    margin-bottom: 50px
}

.columnSmall {
    float: left  !important;
    white-space: no-wrap;
    width: 1.5%;

}

svg:not(:root) {
    overflow: visible;    
    vertical-align: top;
    float: left;
}

.container {
    vertical-align: top;
    float: left;
    width: 85%;
    margin: auto;
}

#plot {
    vertical-align: top;
    float: left;
    width: 85%;
    height: 100vh;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.topnav {
    overflow: hidden;
    padding-left: 20px;
    margin-top:250px;

}

.topnav input[type=text] {
    font-family: 'Roboto Condensed', sans-serif;
    float: left;
    padding: 6px;
    font-size: 17px;
}

form.searchBar button {
    border: none;
    float: left;
    width: 34px;
    height: 39px;
    padding: 0px;
    background: white;
    color: <button type="submit"><i class="fa fa-search"></i></button>;
    font-size: 17px;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
}

form.searchBar button:hover {
    background: orange;
    color: white
}

.container_checkboxes {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 3px;
    color: #616161;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    cursor: pointer;
}

.container_checkboxes input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 0px;
    height: 12px;
    width: 12px;
    background-color: #eee;
    border-radius: 2px;
    cursor: pointer;
}

.container_checkboxes:hover input ~ .checkmark {
    background-color: #ccc;
}

.container_checkboxes input:checked ~ .checkmark {
    background-color: royalblue;
}


.container_highlighter {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 3px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    cursor: pointer;
}

.container_highlighter input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.highlightermark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 12px;
    width: 12px;
    border: 0;
    border-radius: 50px;
    background-color: #eee;
}

.container_highlighter:hover input ~ .highlightermark {
    background-color: #ccc;
}

.container_highlighter input:checked ~ .highlightermark {
    background-color: orange;
}

.container_dot {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 3px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    cursor: pointer;
}

.container_dot input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.dotmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 12px;
    width: 12px;
    border: 0;
    border-radius: 50px;
    background-color: #eee;
}

.container_dot:hover input ~ .dotmark {
    background-color: #ccc;
}

.container_dot input:checked ~ .dotmark {
    box-sizing: border-box;
    background-color: white;
    border: 2px solid red;
}


.labels-subtype {
    font-family: 'Roboto Condensed', sans-serif;
    fill: white;
    font-size: 10px;
}

.labels-cellLine {
    font-family: 'Roboto Condensed', sans-serif;
    fill: white;
    font-size: 8px;
}

.labels-source {
    font-family: 'Roboto Condensed', sans-serif;
    fill: white;
    font-size: 12px;
}

.labels-lg {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
}

.labels-extralg {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.labels-back {
    font-family: 'Roboto Condensed', sans-serif;
    fill: lightslategray;
    font-size: 10px;
}

table {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 9px;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.dataTables_filter {
    float: left !important;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    width: 200px
}

.dataTables_filter input {
    width: 150px
}

div.dt-buttons {
    float: right !important;
    font-size: 12px;
    padding-right: 10px
}

.dataTables_info {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    padding-bottom: 10px;
}
