/*                  */
/*  Initial Setup   */
/*                  */

body {
    margin: 40px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    color: #616161;
    background-color: #fff
}

header {
    height: 100px;
    /*    background-color: ;*/
    text-align: center;
    font-weight: 200;
    font-size: 36px;
}

footer {

}



/*                  */
/*  Text Hierarcy   */
/*                  */

h1 {
    color: orange;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

h2 {
    color: orange;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h3 {
    color: #2e2e2e;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
}

h4 {
    color: #2e2e2e;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
}

h5 {
    color: #616161;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
}



/*                  */
/*  Grid Setup      */
/*                  */

.wrapper {
    margin: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: 17% 17% 17% 17% 17%;
    grid-gap: 1%;
    color: #2e2e2e;
    background-color: #fff;
}

.textblock {
    /*    padding-top:15px;*/
}

.tumorTable {
    padding-top: 50px;
}

.columnSmall {
    float: left !important;
    white-space: no-wrap;
    width: 1.5%;

}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}



/*                  */
/*  Tumor Table     */
/*                  */

table {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

/*Row formatting*/
tr {
    background-color: white !important;
}

/*Row selected*/
tr.selected {
    background-color: #F8C471 !important;
    font-weight: 500;
    color: white;
}

/*Search bar*/
.dataTables_filter {
    float: left !important;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 450px;
}

.dataTables_filter input {
    width: 375px;
}

/*CSV button*/
div.dt-buttons {
    float: right !important;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding-right: 10px
}

/*Footer Info formatting*/
.dataTables_info {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}



/*                  */
/*  Vote button     */
/*                  */

.buttonSubmit {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
    padding: 10px 15px;
    background-color: royalblue;
    transition-duration: .5s;
}

.buttonSubmit:hover {
    background-color: orange
}




/*                      */
/*  Plot Styles         */
/*                      */

#plot {
    vertical-align: top;
    height: 75vh;
}

.labels-subtype {
    font-family: 'Roboto Condensed', sans-serif;
    fill: white;
    font-size: 10px;
}

.labels-cellLine {
    font-family: 'Roboto Condensed', sans-serif;
    fill: white;
    font-size: 8px;
}

.labels-source {
    font-family: 'Roboto Condensed', sans-serif;
    fill: white;
    font-size: 12px;
}

.labels-lg {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
}

.labels-extralg {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.labels-back {
    font-family: 'Roboto Condensed', sans-serif;
    fill: lightslategray;
    font-size: 10px;
}

.topnav {
    width: 250px;
    overflow: hidden;

}



/*                      */
/*  Filter Styles       */
/*                      */

.column {
    display: grid;
    justify-content: center;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 1%;
    margin-bottom: 500px
}

filterTextLabels{
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    color: #2e2e2e;
    padding-top: 20px;
}


.topnav input[type=text] {
    font-family: 'Roboto Condensed', sans-serif;
    float: left;
    padding: 6px;
    font-size: 17px;
}

form.searchBar button {
    border: none;
    float: left;
    width: 34px;
    height: 39px;
    padding: 0px;
    background: royalblue;
    color: white;
    transition-duration: .5s;
    font-size: 17px;
    border-left: none;
    cursor: pointer;
}

form.searchBar button:hover {
    background: orange;
}

.container_checkboxes {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 3px;
    color: #616161;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    cursor: pointer;
}

.container_checkboxes input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 0px;
    height: 12px;
    width: 12px;
    background-color: #eee;
    border-radius: 2px;
    cursor: pointer;
}

.container_checkboxes:hover input ~ .checkmark {
    background-color: #ccc;
}

.container_checkboxes input:checked ~ .checkmark {
    background-color: royalblue;
}

.container_highlighter {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 3px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    cursor: pointer;
}

.container_highlighter input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.highlightermark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 12px;
    width: 12px;
    border: 0;
    border-radius: 50px;
    background-color: #eee;
}

.container_highlighter:hover input ~ .highlightermark {
    background-color: #ccc;
}

.container_highlighter input:checked ~ .highlightermark {
    background-color: orange;
}

.container_dot {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 3px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    cursor: pointer;
}

.container_dot input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.dotmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 12px;
    width: 12px;
    border: 0;
    border-radius: 50px;
    background-color: #eee;
}

.container_dot:hover input ~ .dotmark {
    background-color: #ccc;
}

.container_dot input:checked ~ .dotmark {
    box-sizing: border-box;
    background-color: white;
    border: 2px solid red;
}




